
@{
    ViewBag.Title = "Menu";
    Layout = null;
}


<ul id="time">
    <li>
        幹
        <ul>
            <li url="@Url.Action("Index","Order")">訂單管理</li>
            <li url="@Url.Action("Index", "Customer")">客戶管理</li>
            <li url="@Url.Action("Index", "Product")">商品管理</li>
        </ul>
    </li>
</ul>








